{% extends "base.html" %}

{% block title %}
CampusPulse
{% endblock %}

{% block content %}

<nav>

    <div class="logo">

        🏫 CampusPulse

    </div>

    <ul>

        <li>About</li>

        <li>Features</li>

        <li>Login</li>

    </ul>

</nav>

<section class="hero">

    <h1>

        Smart Campus.

        <br>

        Smarter Decisions.

    </h1>

    <p>

        AI-powered cloud platform for intelligent campus
        monitoring and predictive analytics.

    </p>

    <button>

        Get Started

    </button>

</section>

<section class="features">

    <div class="card">

        📊

        <h2>Analytics</h2>

        <p>Real-time campus insights.</p>

    </div>

    <div class="card">

        ⚡

        <h2>Energy</h2>

        <p>Monitor power usage.</p>

    </div>

    <div class="card">

        🏫

        <h2>Classrooms</h2>

        <p>Track occupancy instantly.</p>

    </div>

    <div class="card">

        🤖

        <h2>AI</h2>

        <p>Predict future campus activity.</p>

    </div>

</section>

<footer>

    © 2026 CampusPulse

</footer>

{% endblock %}