{% extends "base.html" %}

{% block title %}Login | CampusPulse{% endblock %}

{% block content %}

<div class="login-container">

    <div class="login-card">

        <h1>🏫 CampusPulse</h1>

        <p class="tagline">
            Smart Campus. Smarter Decisions.
        </p>

        <form>

            <input
                type="email"
                placeholder="University Email"
                required
            >

            <input
                type="password"
                placeholder="Password"
                required
            >

           <a href="/dashboard" class="login-btn">
    Login
</a>

        </form>

    </div>

</div>

{% endblock %}